<div class="min-h-screen bg-cover bg-center flex justify-center items-center p-6 relative" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/479/101/113/germany-saxony-gorlitz-hall-historical-literature-wallpaper-preview.jpg');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="bg-white p-8 rounded-lg shadow-xl w-full max-w-lg text-center relative z-10">
    
  
    <h2 class="text-3xl font-semibold text-gray-900">📖 {{ book?.name }}</h2>
    <p class="text-gray-500 text-sm mt-1">Page {{ currentPageIndex + 1 }} of {{ book?.pages.length }}</p>

    <div class="mt-5 bg-gray-100 bg-opacity-90 p-5 rounded-lg text-gray-800 text-left min-h-[250px] max-h-[350px] overflow-y-auto shadow-inner border border-gray-300">
      <p class="leading-relaxed">{{ book?.pages[currentPageIndex]?.content }}</p>
    </div>

    <div class="flex justify-between mt-6">
      <button (click)="prevPage()" [disabled]="currentPageIndex === 0"
        class="cursor-pointer bg-gray-600 hover:bg-gray-700 text-white px-5 py-2 rounded-lg transition disabled:opacity-50 disabled:cursor-not-allowed">
        ⬅ Previous
      </button>

      <button (click)="nextPage()" [disabled]="currentPageIndex >= book?.pages.length - 1"
        class="cursor-pointer bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg transition disabled:opacity-50 disabled:cursor-not-allowed">
        Next ➡
      </button>
    </div>
  </div>
</div>